.book{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 2px solid rgb(160, 160, 160);
    height: 460px;
}

.image{
    height: 160px;
}

.title{
    text-align: center;
    font-size: 16px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price{
    font-size: 18px;
    color: black;
}

.current-price{
    font-size: 20px;
    color: orange;
}
.last-price{
    font-size: 20px;
    color: grey;
}