.starr{
    border: none;
    font-size: 14px;
    margin: 0 2px;
    cursor: pointer;
    --sds-c-icon-color-foreground-default: lightgray;
}

.fill-starr{
    --sds-c-icon-color-foreground-default: gold;
}